*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content:flex-end;
    height: 75px;
    color: white;
    position: fixed;
    z-index:1000;
    width: 100%;
}

.logo{
    position: absolute;
  display: flex;
  text-align: center;
  left: 25px;
}

ul{
    display: flex;
}
.links{
    color: white;
    font-size: 18px;
    padding: 10px 5px;
    margin: 0 10px;
    cursor: pointer;
    text-transform: uppercase;
}
.links:hover{
    color: white;
    text-decoration: none;
}

.links li{
    padding: 7px;
    list-style: none;
}
.links:hover li{
    background-color: rgb(247, 243, 243);
    color: black;
    border-radius: 2px;
}

.signup li{
   background-color: white;
    color: black;
    box-shadow: 0 0 8px white;   
    padding: 7px;
}

.signup:hover li{
    background-color: rgb(247, 243, 243);
    color: black;
}

.menu-icon{
    display: none;
}

.navbar{
    background-color:transparent;
}
.navbar.nav{
    background-color: black;
}

.fa-bars{
    transform: rotate(180deg);
    transition:transform 200ms ease-in-out;
}

.fa-times{
    transform: rotate(360deg);
    transition:transform 200ms ease-in-out;
}

@media screen and (max-width:1010px){
    .navbar{
        background-color: rgba(0, 0,0, 0.6);
    }

    .logo{
        position: absolute;
        display: flex;
        left: 25px;
    }
    
 .signup li{
        border: none;
        background-color:#005469 ;
        box-shadow: 0 0 0 ; 
        color: white;  
    }
    
  .nav-links{
      display: none;
  }

  .nav-links-mobile{
      z-index: 200;
      position: absolute;
      display: block;
      list-style: none;
      background-color: #005469;
      left: 0;
      top: 75px;
      width: 100%;
  }

  .links{
      text-align: center;
      width: 100%;
      color: white;
  }
  .links li{
    padding: 7px;
  }
  .li:hover{
      background-color: white;
      color: black;
  }
  .menu-icon{
      display: block;
      border: none;
      outline: none;
      position: absolute;
      top: 15;
      right: 25px;
      color: white;
      font-size: 25px;
      background-color: black;
      padding: 4px 7px;
  }
}