*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.price_card{
    color: white;
    border: 1px solid white;
    background-color: rgb(36, 34, 34);
    padding: 25px 15px 30px 15px;
    text-align: center;
    transform: skewY(-5deg);
}

.price_card:hover{
    background-color: white;
    color: black;
}
.price_card_points{
    transform:skewY(5deg);
}
.enrollNow_btn{
    background-color: rgb(68, 64, 64);
    color: white;
    border: none;
    padding: 20px;
    transform:skewY(5deg);
}

.price_card:hover .enrollNow_btn{
    background-color: orangered;

}
